*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    height: 100%;
    width: 100%;
    /* background-color: palegoldenrod; */
}
#nav{
    height:100px ;
    width: 100%;
    /* background-color: powderblue; */
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 40px 60px;
}
#navpart1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
#navpart2{
    display: flex;
    justify-content: space-between;
    width: 35%;
    /* align-items: center; */
}
#nav h3 , h4,h2{
font-size: 20px;
font-weight: 600px;
}
#content{
    padding: 40px 60px;
    margin-top: 60px;
}
#content h3{
    font-size: 35px;
    font-weight: 600px;

}
#content h1{
    font-size: 160px;
    font-weight: 600px;
    margin-top: 40px;
    line-height: 140px;
}
#case{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
    padding: 40px 65px;
}
#case h4{
    font-size: 25px;
    font-weight: 500px;
}
#case h5{
    font-size: 25px;
    font-weight: 600px;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#line{
    height: 2px;
    width: 160px;
    background-color: black;
}
#cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    gap: 80px;

}
#elem{
    width: 50%;
}
#elemimg{
    height: 750px;
    width: 100%;
    background-color: powderblue;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}
.img1{
    background-image: url(https://i.pinimg.com/736x/c7/ee/d0/c7eed0b1cf283d1ef28f9827a3c1161a.jpg);
}
.img2{
    background-image: url(https://i.pinimg.com/736x/32/7a/56/327a5638ccf7e5ba918218c75cc3cdd2.jpg);
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

}
#bottom i{
    padding: 15px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
}
#bottom i:hover{
    background-color: black;
    color: white;
}
#btmleft h2{
    font-size: 30px;
}